source_up .ivhs_envrc

export SECRET_KEY_BASE=${SECRET_KEY_BASE:-FH0XS5rdftWJzFtrO0vZthEP+BF/m/9lZYC6MAZa5nHjOLDdlP2g5U3hSJCBnD3B}
export LIVE_VIEW_SALT=${SECRET_KEY_BASE:-oh8aX0/4A6KqRcPHKAD8nisib4JkLQ+b}

export MQTT_HOST=${MQTT_HOST:-localhost}
export MQTT_PORT=${MQTT_PORT:-1883}
export MQTT_CLIENT_ID=${MQTT_CLIENT_ID:-"ivhs-dev"}
export MQTT_USERNAME=${MQTT_USERNAME:-}
export MQTT_PASSWORD=${MQTT_PASSWORD:-}

export LOGGER_LEVEL=${LOGGER_LEVEL:-"debug"}

export PLEX_HOST=${PLEX_HOST:-}
export PLEX_TOKEN=${PLEX_TOKEN:-}
