source_up .ivhs_broker_envrc

export SECRET_KEY_BASE=${SECRET_KEY_BASE:-FH0XS5rdftWJzFtrO0vZthEP+BF/m/9lZYC6MAZa5nHjOLDdlP2g5U3hSJCBnD3B}
export LIVE_VIEW_SALT=${SECRET_KEY_BASE:-oh8aX0/4A6KqRcPHKAD8nisib4JkLQ+b}
