<Layouts.app current_path={@current_path}>
  <div class="text-lg font-black uppercase tracking-[0.18em] mb-3">{gettext("Devices")}</div>
  <Components.loading async_result={@devices}>
    <Components.Table.render data={@devices}>
      <:cell :let={row} title={gettext("Reader name")} cell_class="font-mono text-sm">
        {row.reader_name}
      </:cell>
      <:cell :let={row} title={gettext("Inserted at")} cell_class="text-sm">
        {row.inserted_at}
      </:cell>
    </Components.Table.render>
  </Components.loading>
</Layouts.app>
