<Layouts.app current_path={@current_path}>
  <div class="text-lg font-black uppercase tracking-[0.18em] mb-3">{gettext("Cards")}</div>
  <Components.loading async_result={@cards}>
    <Components.Table.render data={@cards}>
      <:cell :let={row} title={gettext("UID")} cell_class="font-mono text-sm">
        {row.uid}
      </:cell>
      <:cell :let={row} title={gettext("Inserted at")} cell_class="text-sm">
        {row.inserted_at}
      </:cell>
    </Components.Table.render>
  </Components.loading>
</Layouts.app>
