<Layouts.app current_path={@current_path}>
  <Components.loading async_result={@card}>
    <div class="text-lg font-black uppercase tracking-[0.18em] mb-3">
      {Card.label(@card.result)}
    </div>
    <Components.box>
      <:title>{Card.label(@card.result)}</:title>
      <:sub_title>{if @card.result.label, do: @card.result.uid}</:sub_title>
      <:right></:right>
      Hello
    </Components.box>
  </Components.loading>
</Layouts.app>
