<Layouts.app current_path={@current_path} session_id={@session_id} socket={@socket}>
  <Components.loading async_result={@card}>
    <div class="text-lg font-black uppercase tracking-[0.18em] mb-3">
      {Card.label(@card.result)}
    </div>
    <Components.box>
      <:title>
        <%= if is_nil(@label_form) do %>
          <div phx-click="label:edit">
            {Card.label(@card.result)}
          </div>
        <% else %>
          <.form
            for={@label_form}
            phx-change="label:change"
            phx-submit="label:submit"
            class="mb-1"
          >
            <Components.Form.input field={@label_form[:label]} on_blur="label:cancel" />
          </.form>
        <% end %>
      </:title>
      <:sub_title>{if @card.result.label, do: @card.result.uid}</:sub_title>
      <:right></:right>
    </Components.box>
    <Components.box>
      <:title>{gettext("Target")}</:title>
      <:sub_title>{gettext("Pick the target media")}</:sub_title>
      <:right>
        <%= case @card.result.target do %>
          <% nil -> %>
            <Components.Form.button type="button" style={:action} on_click="target:add">
              {gettext("Add target")}
            </Components.Form.button>
          <% _ -> %>
            <Components.Form.button type="button" style={:action} on_click="target:remove">
              {gettext("Remove target")}
            </Components.Form.button>
        <% end %>
      </:right>
      <.form
        :let={f}
        for={@target_form}
        phx-submit="target:submit"
        phx-change="target:change"
        class="p-4"
      >
        <.polymorphic_embed_inputs_for :let={target_form} default={:raw} field={f[:target]}>
          <Components.Form.selector
            label={gettext("Target")}
            field={target_form[:__type__]}
            items={@targets}
          />
          <%= case source_module(target_form) do %>
            <% Target.Plex -> %>
              <TargetForm.Plex.render
                currently_selected={@card.result.target}
                form={@target_form}
                plex_search_value={@plex_search_value}
                results={@plex_results}
              />
            <% Target.Raw -> %>
              <div>
                <Components.Form.input
                  label={gettext("Content type")}
                  field={target_form[:content_type]}
                />
                <Components.Form.textarea
                  label={gettext("Payload")}
                  field={target_form[:payload]}
                />
                <Components.Form.button_row>
                  <Components.Form.button type="submit">
                    {gettext("Save")}
                  </Components.Form.button>
                </Components.Form.button_row>
              </div>
            <% Target.Youtube -> %>
              <div>
                <Components.Form.input
                  label={gettext("Video code or URL")}
                  field={target_form[:code]}
                />
                <a
                  href={Target.Youtube.video_url(target_form[:code].value)}
                  class="p-4 margin-0-auto"
                >
                  <img class="w-32" src={Target.Youtube.thumbnail(target_form[:code].value)} />
                </a>
                <Components.Form.button_row>
                  <Components.Form.button type="submit">
                    {gettext("Save")}
                  </Components.Form.button>
                </Components.Form.button_row>
              </div>
          <% end %>
        </.polymorphic_embed_inputs_for>
      </.form>
    </Components.box>
  </Components.loading>
</Layouts.app>
