<Layouts.app current_path={@current_path}>
  <Components.loading async_result={@card}>
    <div class="text-lg font-black uppercase tracking-[0.18em] mb-3">
      {Card.label(@card.result)}
    </div>
    <Components.box>
      <:title>{Card.label(@card.result)}</:title>
      <:sub_title>{if @card.result.label, do: @card.result.uid}</:sub_title>
      <:right></:right>
    </Components.box>
    <Components.box>
      <:title>{gettext("Target")}</:title>
      <:sub_title>{gettext("Pick the target media")}</:sub_title>
      <:right>
        <%= case @card.result.target do %>
          <% nil -> %>
            <Components.Form.button type="button" style={:action} on_click="add_target">
              {gettext("Add target")}
            </Components.Form.button>
          <% _ -> %>
            <Components.Form.button type="button" style={:action} on_click="remove_target">
              {gettext("Remove target")}
            </Components.Form.button>
        <% end %>
      </:right>
      <.form :let={f} for={@form} phx-submit="submit" phx-change="change" class="p-4">
        <.polymorphic_embed_inputs_for :let={target_form} default={:raw} field={f[:target]}>
          <Components.Form.selector
            label={gettext("Target")}
            field={target_form[:__type__]}
            items={@targets}
          />
          <%= case source_module(target_form) do %>
            <% Target.Plex -> %>
              <TargetForm.Plex.render
                currently_selected={@card.result.target}
                form={@form}
                plex_search_value={@plex_search_value}
                results={@plex_results}
              />
            <% Target.Raw -> %>
              <div>
                <Components.Form.input
                  label={gettext("Content type")}
                  field={target_form[:content_type]}
                />
                <Components.Form.textarea
                  label={gettext("Payload")}
                  field={target_form[:payload]}
                />
                <Components.Form.button_row>
                  <Components.Form.button type="submit">
                    {gettext("Save")}
                  </Components.Form.button>
                </Components.Form.button_row>
              </div>
          <% end %>
        </.polymorphic_embed_inputs_for>
      </.form>
    </Components.box>
  </Components.loading>
</Layouts.app>
